# Flutter
FlutterApp/**/build/
FlutterApp/**/.dart_tool/
FlutterApp/**/.flutter-plugins
FlutterApp/**/.flutter-plugins-dependencies
FlutterApp/**/.packages

# Android
FlutterApp/**/.gradle/
FlutterApp/**/.idea/
FlutterApp/**/*.iml

# iOS
FlutterApp/**/ios/Pods/
FlutterApp/**/ios/DerivedData/

# ESP32 (لو PlatformIO)
ESP32/.pio/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
